<h1 class="text-center text-dark">Edit Product</h1>
<hr class="hr-2 bg-dark w-25">
<form id="add-product-form" class="form w-25 mx-auto" #editProductForm="ngForm" (ngSubmit)="editProduct()">
    <div class="form-group">
        <label for="add-product-name" class="font-weight-bold">Name</label>
        <input type="text" class="form-control text-center" id="add-product-name" name="name" [value]="product.name" [(ngModel)]="product.name">
    </div>
    <div class="form-group">
        <label for="add-product-description" class="font-weight-bold">Description</label>
        <textarea class="form-control" name="description" id="add-product-description" [(ngModel)]="product.description" cols="41"
            rows="5">{{product.description}}</textarea>
    </div>
    <div class="form-group">
        <label for="add-product-price" class="font-weight-bold">Price</label>
        <input type="number" step="any" class="form-control text-center" id="add-product-price" [(ngModel)]="product.price" name="price"
            [value]="product.price">
    </div>
    <div class="form-group">
        <label for="add-product-categories" class="font-weight-bold">Categories</label>
        <select multiple="" class="form-control" id="add-product-categories" [(ngModel)]="product.categories" name="categories">
            <option *ngFor="let category of categories" [selected]="product.categories.includes(category.id) ? true : null" [value]="category.id">
                {{category.name}}</option>
        </select>
    </div>
    <hr class="hr-2 bg-dark w-25">
    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn btn-success">Edit Product</button>
    </div>
</form>
