<div class="jumbotron bg-light">
    <div class="text-center">
        <img [src]="product.imageUrl" width="350" height="350" alt="Product">
    </div>
    <div class="row">
        <div class="col col-md-12 text-center mt-5">
            <h1>Name: {{product.name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12 text-center mt-3">
            <h4>Description: {{product.description}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12 text-center">
            <h4>Price: {{product.price | currency}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12 text-center">
            <a class="btn btn-success my-3" routerLink="/orders/product/{{id}}">Order Product</a>
        </div>
    </div>
</div>
