<h1 class="text-center text-dark">Add Product</h1>
<hr class="hr-2 bg-dark w-25">
<form id="add-product-form" #createProductForm="ngForm" (ngSubmit)="createProduct()" class="form w-25 mx-auto" enctype="multipart/form-data">
    <div class="form-group">
        <label for="add-product-name" class="font-weight-bold">Name</label>
        <input type="text" class="form-control text-center" [(ngModel)]="product.name" id="add-product-name" name="name">
    </div>
    <div class="form-group">
        <label for="add-product-description" class="font-weight-bold">Description</label>
        <textarea id="add-product-description" [(ngModel)]="product.description" class="form-control" cols="38" name="description"
            rows="5"></textarea>
    </div>
    <div class="form-group">
        <label for="add-product-price" class="font-weight-bold">Price</label>
        <input type="number" step="any" class="form-control text-center" [(ngModel)]="product.price" id="add-product-price" name="price">
    </div>
    <div class="form-group">
        <label for="add-product-categories" class="font-weight-bold">Categories</label>
        <select multiple="" class="form-control" id="add-product-categories" [(ngModel)]="product.categories" name="categories">
            <option selected="" disabled="">--- Select Categories ---</option>
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="add-product-image" class="font-weight-bold">Image</label>
        <input type="file" (change)="onFileSelect($event)" class="form-control-file" id="add-product-image" name="image">
    </div>
    <hr class="hr-2 bg-dark w-25">
    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn btn-success">Add Product</button>
    </div>
</form>
